.Route > .Explorer {
    width: 100%;
}

.Explorer .path-seperator::after {
    content: '/';
}

.Explorer .inline-seperator::after {
    content: '|';
    margin: 0 0.5rem;
}

.Explorer .item.active {
    font-weight: bold;
}

.Explorer .editor *::selection,
.Explorer > .tree > .nodes > .node > .name:not(:read-only)::selection,
.Explorer > .tree > .navigation > .path *::selection {
    background: rgba(255, 255, 255, 0.1);
}

.Explorer .file-delete *:hover {
    color: var(--color-danger);
    fill: var(--color-danger);
}

.Explorer .file-cancel *:hover {
    color: var(--color-warning);
    fill: var(--color-warning);
}

.Explorer {
    display: flex;
    flex-direction: column;
}

.Explorer > .tree {
    display: flex;
    flex-direction: column;
}

.Explorer > .tree > .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--color-background3);
    border: 1px solid var(--color-border1);
    border-top: 0;
}

.Explorer > .tree > .navigation > .path {
    display: flex;
    flex-direction: row;
    background-color: var(--color-background2);
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
    height: 2rem;
}

.Explorer > .tree > .navigation > .navigation-actions {
    display: flex;
    flex-direction: row;
}

.Explorer > .tree .navigation > .navigation-actions > * {
    margin-left: 0.5rem;
}

.Explorer > .tree .navigation > .navigation-actions > .logout:hover svg {
    color: var(--color-accent6);
}

.Explorer > .tree > .nodes {
    max-height: 600px;
    overflow-y: scroll;
    border: 1px solid var(--color-border1);
    border-top: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.Explorer > .tree > .nodes::-webkit-scrollbar {
    display: none;
}

.Explorer > .tree > .nodes > .node {
    position: relative;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    border-top: 1px solid var(--color-border1);
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-background3);
}

.Explorer > .tree > .nodes > .node:first-child {
    border-top: 0;
}

.Explorer > .tree > .nodes > .node.node.go-up > .name:hover {
    text-decoration: none;
}

.Explorer > .tree > .nodes > .node:last-child {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.Explorer > .tree > .nodes > .node > .icon {
    margin-right: 1rem;
}

.Explorer > .tree > .nodes > .node > .name {
    font-size: 1rem;
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--color-background3);
    color: var(--color-foreground1);
    padding: 0.5rem;
}

.Explorer > .tree > .nodes > .node > .name:not(:read-only) {
    cursor: auto;
    background-color: var(--color-background2);
    border-radius: 0.25rem;
    transition: all 0.3s ease;
}

.Explorer > .tree > .nodes > .node:hover > .name:not(:read-only) {
    background-color: var(--color-background2);
}

.Explorer > .tree > .nodes > .node > .name:read-only {
    cursor: pointer;
}

.Explorer > .tree > .nodes > .node > .name:read-only:hover {
    text-decoration: underline;
}

.Explorer > .tree > .nodes > .node > .node-border::after {
    content: '';
    position: absolute;
    top: calc(100% - 2px);
    bottom: 0;
    left: 0;
    width: 200%;
    pointer-events: none;
    transition: all 0.3s ease;
    background: linear-gradient(90deg, var(--color-danger) 0%, var(--color-danger) 50%, var(--color-accent2) 50%, var(--color-accent2) 100%);
    transform: translateX(-100%);
}

.Explorer > .tree > .nodes > .node > .name:valid + .node-border::after {
    transform: translateX(-50%);
}

.Explorer > .tree > .nodes > .node > .name:invalid + .node-border::after {
    transform: translateX(0%);
}

.Explorer > .tree > .nodes > .node > .actions {
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: auto;
}

.Explorer > .tree > .nodes > .node:not(:hover) > .actions {
    display: none;
}

.Explorer > .tree > .nodes > .node > .actions > * {
    margin-left: 0.5rem;
    cursor: pointer;
}

.Explorer > .tree > .nodes > .node:hover,
.Explorer > .tree > .nodes > .node:hover .name {
    background-color: var(--color-background5);
}

.Explorer > .tree > .nodes > .node.go-up {
    text-decoration: none;
}

.Explorer > .file {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.Explorer > .file > .header {
    background-color: var(--color-background3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.Explorer > .file > .header > .file-info {
    display: flex;
    flex-direction: row;
}

.Explorer > .file > .header > .file-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Explorer > .file > .header > .file-actions > * {
    margin-left: 0.5rem;
}

.Explorer > .file > .file-preview {
    background-color: var(--color-background2);
}

.Explorer > .file > .file-preview > img,
.Explorer > .file > .file-preview > video {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
}

.Explorer > .file > .file-preview > .run-output {
    padding: 0.5rem;
    margin: 0.5rem;
    margin-bottom: 0;
    background-color: var(--color-background1);
    border-radius: 0.25rem;
}

.Explorer > .file > .file-preview > .run-output > .run-result,
.Explorer > .file > .file-preview > .run-output > .run-error {
    padding-left: 1rem;
}

.Explorer > .file > .file-preview > .run-output > .run-result {
    color: var(--color-accent4);
}

.Explorer > .file > .file-preview > .run-output > .run-error {
    color: var(--color-danger);
}

.Explorer > .file > .file-preview > video:focus {
    outline: 0;
}

.Explorer > .file > .file-preview > .editor {
    background-color: var(--color-background2);
    position: relative;
    border-bottom-left-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
    min-height: calc(85vh - 7rem);
    padding: 0.5rem;
}

.Explorer > .file > .file-preview > .editor > textarea {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    resize: none;
    background-color: transparent;
    color: var(--color-foreground1);
    -webkit-text-fill-color: transparent;
    line-height: 1.66667rem;
    font-size: 1rem;
    outline: 0;
    border: 0;
    z-index: 2;
    overflow-y: hidden;
    white-space: pre;
    line-break: anywhere;
    word-break: break-all;
    overflow-x: auto;
}

.Explorer > .file > .file-preview > .editor > .editor-extra-style::-webkit-scrollbar {
    display: none;
}

.Explorer > .file > .file-preview > .editor > .editor-extra-style {
    pointer-events: none;
    color: var(--color-foreground0);
    -webkit-text-fill-color: var(--color-foreground0);
    opacity: 0.15;
    font-family: 'CascadiaMono';
    z-index: 3;
    overflow: hidden;
}

.Explorer > .file > .file-preview > .editor > span {
    background: transparent;
    width: 100%;
    pointer-events: none;
    z-index: 1;
    display: flex;
}

.Explorer > .file > .file-preview > .editor > span > * {
    font-size: 1rem;
    min-width: 3rem;
}

.Explorer > .file > .file-preview > .editor > span > code:first-child > span:last-child {
    display: none;
}

.Explorer > .file > .file-preview > .editor > span *::-webkit-scrollbar {
    display: none;
}

.Explorer > .file > .file-preview > .images {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 2rem;
    justify-content: space-evenly;
}

.Explorer > .file > .file-preview > .images > li {
    flex-grow: 1;
    max-height: 20rem;
    max-width: calc(20% - 1rem);
    min-width: 10rem;
    margin: 0.5rem;
    box-sizing: border-box;
}

.Explorer > .file > .file-preview > .images > li:last-child {
    flex-grow: 10;
}

.Explorer > .file > .file-preview > .images > li > img,
.Explorer > .file > .file-preview > .images > li > video {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border-radius: 0.1rem;
}

.Explorer > .file > .file-preview > .markdown-preview code {
    padding-left: 0;
}

.Explorer > .file > .file-preview > .markdown-preview code * {
    padding: 0.2rem;
}

.Explorer > .file > .file-preview > .markdown-preview {
    background-color: var(--color-background2);
}

.Explorer > .file > .file-preview > span,
.Explorer > .file > .file-preview > .markdown-preview {
    border-bottom-left-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
    padding: 0.5rem;
}

.Explorer > .file > .file-preview > span {
    display: flex;
}

.Explorer > .file > .file-preview span > code:first-child {
    border-right: 1px solid var(--color-border0);
    margin-right: 0.25rem;
    width: 5rem !important;
}

.Explorer > .file > .file-preview span > code:last-child {
    overflow-x: auto;
}

.Explorer > .file > .file-preview > .markdown-preview a.local.valid {
    color: var(--color-accent4);
}

.Explorer > .file > .file-preview > .markdown-preview a.local.invalid {
    color: var(--color-accent6);
    opacity: 0.5;
}

.Explorer > .file > .file-preview > .markdown-preview a.external {
    color: var(--color-accent2);
    text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
    .Explorer > .tree > .nodes,
    .Explorer > .tree > .nodes > .node:last-child,
    .Explorer > .file > .header,
    .Explorer > .file > .file-preview > span,
    .Explorer > .file > .file-preview > .markdown-preview,
    .Explorer > .file > .file-preview > .editor {
        border-radius: 0 !important;
    }
}
