.Footer {
    border-top: 2px solid var(--color-border1);
    order: 1;
    width: 100%;
    max-width: 95vw;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    margin-top: 1rem
}

.Footer > .links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.Footer a {
    color: var(--color-accent2);
}

.Footer > .links > .item {
    margin-left: 1rem;
}

.Footer > .icon {
    margin-right: 1rem;
}

.Footer > .icon > svg {
    height: 2rem;
}

.Footer > .icon > svg * {
    fill: var(--color-accent2) !important;
}

.copyright {
    color: var(--color-foreground0);
}

@media only screen and (max-width: 500px) {
    .Footer {
        max-width: 100vw;
        padding: 0 2.5vw;
    }

    .Footer > .links > .item {
        margin-left: 0rem;
    }
}
