@font-face {
    font-family: 'CascadiaCode';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cascadia-code/CascadiaCode.ttf');
}

@font-face {
    font-family: 'CascadiaMono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/cascadia-code/CascadiaMono.ttf');
}

body {
    margin: 0;
    font-family: 'CascadiaCode';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'CascadiaCode';
}
