.Route > .Login {
    position: relative;
    width: 100%;
}

.Login > form {
    position: absolute;
    width: 60%;
    max-width: 450px;
    min-width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Login .input-section {
    position: relative;
    width: 100%;
    height: 3rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

.Login > form input:not([type="submit"]) {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding-top: 1.4rem;
    border: none;
    outline: none;
    background-color: var(--color-background1);
    color: var(--color-foreground1);
}

.Login > form label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    color: var(--color-foreground1);
    pointer-events: none;
    border-bottom: 1px solid var(--color-border2);
}

.Login > form label::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid var(--color-accent2);
    transform: translate(-100%);
    transition: transform 0.3s ease;
}

.Login > form .label-text {
    font-size: 1.2rem;
    position: absolute;
    bottom: 1px;
    left: 0;
    transition: all 0.3s ease;
}

.Login > form > .input-section > .always-show + label > .label-text,
.Login > form > .input-section > input:not([type="submit"]):focus + label > .label-text,
.Login > form > .input-section > input:not([type="submit"]):valid + label > .label-text {
    transform: translateY(-150%);
    color: var(--color-accent2);
    font-size: 1rem;
}

.Login > form > .input-section > .always-show + label::after,
.Login > form > .input-section > input:not([type="submit"]):focus + label::after,
.Login > form > .input-section > input:not([type="submit"]):valid + label::after {
    transform: translateX(0%);
}

.Login > form input.authKey::-webkit-outer-spin-button,
.Login > form input.authKey::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Login > form input.authKey {
    -moz-appearance: textfield;
    width: calc(100% / 6);
    text-align: center;
}

.qr-code {
    text-align: center;
}

.Login .authKey:invalid {
    opacity: 0.5;
}

.Login > form .logout {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-accent2);
    text-align: right;
    opacity: 0.7;
}

.Login > form .logout:hover {
    opacity: 1;
}

@media only screen and (max-width: 400px) {
    .Login > form {
        min-width: 100%;
        padding: 1rem;
    }
}
