.Modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: auto;
}

.Modal > .modal-content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 400px;
    max-width: 600px;
    width: 50vw;
    background-color: var(--color-background1);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.Modal > .modal-content {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    position: relative;
    overflow: hidden;
}

.Modal > .modal-content.create {
    flex-direction: row;
}

.Modal > .modal-content > .cwd {
    background-color: var(--color-background3);
    padding: 0.5rem;
    padding-right: 0;
}

.Modal > .modal-content > #path {
    background-color: var(--color-background3);
    color: var(--color-foreground1);
    width: 100%;
    border: none;
    padding: 0.5rem;
    padding-left: 0;
    font-size: 1rem;
}

.Modal > .modal-content > #path::selection {
    background: rgba(255, 255, 255, 0.1);
}

.Modal > .modal-content > #path:focus {
    outline: none;
}

.Modal > .modal-content > .path-border::after {
    content: '';
    position: absolute;
    top: calc(100% - 2px);
    bottom: 0;
    left: 0;
    width: 200%;
    pointer-events: none;
    transition: all 0.3s ease;
    background: linear-gradient(90deg, var(--color-danger) 0%, var(--color-danger) 50%, var(--color-accent2) 50%, var(--color-accent2) 100%);
    transform: translateX(-100%);
}

.Modal > .modal-content > #path:valid + .path-border::after {
    transform: translateX(-50%);
}

.Modal > .modal-content > #path:invalid + .path-border::after {
    transform: translateX(0%);
}

@media only screen and (max-width: 400px) {
    .Modal > .modal-content{
        min-width: 100%;
        border-radius: 0;
    }
}
